body{
	background: #262a2b;
	text-align: center;
}

.introducao{
  color: white;
}

.nome{
  	font-size: 35px; 
  	padding: 0px;
	margin-right: 0x;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px 1px #000000;
	color: white;
	
}

.bio{
  	font-size: 18px;
	display: block;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 600;
	color: orange;
	text-shadow: 1px 1px 5px #000000;
}

.perfil{
  	border-radius: 250px;
  	width: 250px;
  	padding: 7px;
	text-align: center;
	display: inline-block;
}