@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@700&display=swap');


:root{

	--text: #ffffff;
	--title: #CC6600;
	--bgorange: #CC6600;
	--font: 'Inter', sans-serif;
	--font1: 'Montserrat', sans-serif;
}

/* Geral */

body{
	background-color: #282b2c;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
}

#title{
	font-size: 20px;
    color: var(--title);
    font-family: var(--font1);
    padding-bottom: 20px;
}

#text{
	color: var(--text);
    font-size: 15px;
    font-family: var(--font);
}

#name{
	font-family: var(--font1);
    color: var(--text);
}


/* Experiencias */

.experiences{
    display: grid;
    grid-template-columns: repeat(2, 20%);
    justify-content: center;
}


/* Projetos */

.project-img{
    width: 370px;
    border-radius: 20px;
    padding: 10px;
}

.projects{
    color: var(--text);
    font-family: var(--font);
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}

/* About me */
#aboutme{
	
}


/* Mobile */

@media screen and (max-width: 1440px){
    #text{
        font-size: 15px;
        padding: 20px;
    }
}

@media screen and (max-width: 1440px){
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 75%);
        justify-content: center;
    }

    .project-img{
        width: 300px;
    }

    .projects-title{
        padding-bottom: 30px;
    }

    .project-card{
        padding-bottom: 40px;
    }
}
