@import url(header.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@700&display=swap');


:root{

	--text: #ffffff;
	--title: #CC6600;
	--bgorange: #CC6600;
	--font: 'Inter', sans-serif;
	--font1: 'Montserrat', sans-serif;
}

/* Geral */

body{
    background-color: #000000;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
    
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px 200px 0px 100px;

    background: rgba(40, 43, 44, 0.72);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
}

#content{
    display: flex;
}

#nav-menu{
    display: flex;
    padding: 20px;
    text-align: center;
}

#title{
	font-size: 20px;
    color: var(--title);
    font-family: var(--font1);
    padding-bottom: 20px;
    margin-top: 10px;
}

#text{
	color: var(--text);
    font-size: 15px;
    font-family: var(--font);
}

#name{
	font-family: var(--font1);
    color: var(--text);
}


/* Experiencias */

.experiences{
    display: flex;
    flex-direction: column;
}


/* Projetos */

.project-img{
    width: 370px;
    border-radius: 20px;
    padding: 10px;
}

.projects{
    color: var(--text);
    font-family: var(--font);
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}


/* Mobile */

@media screen and (max-width: 1440px){
    #text{
        font-size: 15px;
        padding: 20px;
    }
}

@media screen and (max-width: 1440px){
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 75%);
        justify-content: center;
    }

    .project-img{
        width: 300px;
    }

    .projects-title{
        padding-bottom: 30px;
    }

    .project-card{
        padding-bottom: 40px;
    }
}





/* NAV MENU */ 

.menu-button{
    color: var(--text);
    font-weight: 800px;
    font-size: 20px;
    padding: 8px;
    margin: 1px;
    background: var(--bgorange);
    border: none;
    border-radius: 10px;
    font-family: var(--font1);
}

.menu-title{
    font-size: 40px;
    padding-right: 600px;
    font-family: var(--font1);
}


/* others */



#curriculo{
    display: flex;
    align-items: center
}

#links{
    display: flex;
    flex-direction: column;
}

#profile{
    width: 350px;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 100px 0 100px;
    padding-top: 20px;


    background: rgba(204, 102, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(204, 102, 0, 1);
}


.avatar{
    width: 320px;
    height: 320px;
    border-radius: 5px;
}



.icons{
    width: 42px;
    height: 42px;
}


