@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Inter:wght@100&display=swap');

/* Icons by https://icons8.com.br/ */

:root{
    /* Laranja #E87400 */
	--font: 'Inter', sans-serif;
	--font-alternative: 'Cabin', sans-serif;
}

/* Geral */

body{
    background-color: #000000e0;
    color: #ffffff;
    font-family: var(--font);
}

#container {
    width: 70%;
    margin: auto;
}

#menu{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#menu-title{
    font-size: 45px;
    font-family: var(--font-alternative);
    margin-right: 40%;
}

.menu-button{
    font-family: var(--font);
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    background: none;
    border: none;
}

.menu-button:hover{
    font-family: var(--font);
    font-weight: 900;
    color: #E87400;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
    background: none;
    border:#E87400;
    border-style:  solid;
    border-radius: 10px;
    border-width: 1px;
}

#about{
    margin-top: 80px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    font-family: var(--font-alternative);
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
}

.text{
    width: 60%;
    font-family: var(--font);
    font-weight: 500;
}

#profile-avatar{
    width: 30%;
    border-radius: 10px;
}

.icon-social{
    width: 40px;
    margin: 3px;
}

#title-social{
    font-family: var(--font-alternative);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

#languages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}


#title-languages{
    font-family: var(--font-alternative);
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 10px;
}

.icon-languages{
    width: 45px;
    height: 45px;
    margin: 5px;
}

#projects{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

#project-cards{
    display: flex;
    font-family: var(--font);
}

.project-card{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-name{
    font-weight: 600;
    margin-top: 20px;
}

.project-img{
    width: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


#experience{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}


/* mobile 
@media screen and (max-width: 1440px){
    #text{
        font-size: 15px;
        padding: 20px;
    }
}

@media screen and (max-width: 1440px){
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 75%);
        justify-content: center;
    }

    .project-img{
        width: 300px;
    }

    .projects-title{
        padding-bottom: 30px;
    }

    .project-card{
        padding-bottom: 40px;
    }
}

*/