.profile{
    width: 400px;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.profile-card{
    background-color: var(--bgorange);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 400px;
    height: 160px;
}

.avatar{
    width: 160px;
    height: 160px;
    border-radius: 20px;
}

.name, .area,.languages, .icon{
    color: var(--text);
    font-size: 20px;
    font-family: var(--font);
    padding-top: 5px;
    
}

.icons{
    width: 42px;
    height: 42px;
}

.profile-menu{
    text-align: center;
    margin: auto;
    padding-left: 40px;
}

.profile-menu-button{
    color: var(--text);
    font-weight: 800px;
    font-size: 20px;
    padding: 8px;
    background: var(--bgorange);
    border: none;
    border-radius: 10px;
    font-family: var(--font1);
}

@media screen and (max-width: 1440px){
    .profile{
        width: 200px;
        padding-right: 140px;
    }
    
    
    .profile-card{
        width: 300px;
        height: 140px;
    }

    .profile-menu{
        text-align: center;
        margin: auto;
        padding-right: 40px;
    }

    .profile-menu-button{
        font-size: 18px;
        padding: 7px;
    }

    .avatar{
        width: 140px;
        height: 140px;
    }

    .icons{
        width: 32px;
        height: 32px;
    }

    .area{
        font-size: 15px;
    }

   

}

