.profile{
    padding-top: 20px;
}

.profile-card{
    background-color: #333333;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-radius: 20px;
    width: 400px;
}

.avatar{
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.name, .area{
    color: var(--text2);
    font-size: 20px;
}

.area, .icon, .languages{
    padding-top: 7px;
}

.profile__content{
    margin-left: 4%;
}

.icons{
    width: 42px;
    height: 42px;
}

.profile-menu{
    color: var(--text1);
    text-decoration: none;
    padding: 10px;
    font-weight: 1000;
}

@media screen and (min-width: 1024px){
    .profile{
        width: 400px;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
    }

    .area{
        font-size: 15px;
    }
}

