.projects-title{
    font-size: 25px;
    color: var(--title);
    font-family: var(--font1);
    padding-bottom: 40px;
}

.project-img{
    width: 370px;
}

.project-name{
    font-family: var(--font1);
    color: var(--text);
}

.projects{
    color: var(--text);
    font-family: var(--font);
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}

@media screen and (max-width: 1440px){
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 75%);
        justify-content: center;
    }

    .project-img{
        width: 300px;
    }

    .projects-title{
        padding-bottom: 30px;
    }

    .project-card{
        padding-bottom: 40px;
    }
}
