.projects_title{
    font-size: 25px;
    color: #CC6600;
}

.project_img{
    width: 370px;
}

.project_name{
    font-style: italic;
    color: #33CCFF;
}

@media screen and (min-width: 1024px){
    .projects{
        display: flex;
        justify-content: center;
    }

    .project_card{
        padding: 40px;
    }
}
