.project{
    transition: 5s;
}

.projects_title{
    font-size: 25px;
    color: var(--text1);
    transition: 15s;
}

.project_img{
    width: 370px;
}

.project_name{
    font-style: italic;
    color: var(--text1);
}

.projects{
    color: var(--text1);
    display: grid;
    grid-template-columns: repeat(1);
    justify-content: center;
}

@media screen and (min-width: 1024px){
    .projects{
        display: grid;
        grid-template-columns: repeat(3, 25%);
    }

    .project_card{
        padding: 40px;
    }
}
