@import url(header.css);
@import url(about.css);
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');


body{
	background: #282b2c;
	text-align: center;
	box-sizing: border-box;
}

